@if(book()){
<section>
  <div
    class="bg-gray-100 p-4 flex items-center place-content-center justify-center"
  >
    <article class="w-full rounded-2xl overflow-hidden shadow-lg p-4 bg-white">
      <div class="flex flex-row gap-4">
        <img
          [srcset]="book()!.imgUrl"
          [alt]="book()!.title"
          class="w-80 rounded-3xl"
        />
        <div class="flex flex-col justify-center gap-2">
          <h3 class="font-bold text-2xl mb-2">{{ book()!.title }}</h3>
          <p class="text-gray-700 text-2xl font-bold">{{ book()!.authors }}</p>
          <p class="text-gray-600 text-xl font-semibold">
            {{ book()!.detail.description }}
          </p>
          <div class="px-1 pt-4 p-2">
            <span
              class="inline-block text-xl bg-blue-200 rounded-full px-3 py-1 font-semibold text-blue-700 mr-2 mb-2"
              >{{ book()!.category }}</span
            >
            <span
              class="inline-block bg-green-200 rounded-full px-3 py-1 text-xl font-semibold text-green-700 mr-2 mb-2"
              >Tipo: {{ book()!.type }}</span
            >
          </div>
          <!-- Grid Especificaciones -->
          <div class="w-full grid grid-cols-4 gap-4 p-2 text-2xl">
            <div class="flex flex-col">
              <p class="text-gray-900 text-md font-semibold">Published</p>
              <p class="text-gray-500 text-md font-semibold">
                {{ book()!.year }}
              </p>
            </div>
            <div class="flex flex-col">
              <p class="text-gray-900 text-md font-semibold">Publisher</p>
              <p class="text-gray-500 text-md font-semibold">
                {{ book()!.publisher }}
              </p>
            </div>
            <div class="flex flex-col">
              <p class="text-gray-900 text-md font-semibold">Language</p>
              <p class="text-gray-500 text-md font-semibold">
                {{ book()!.language }}
              </p>
            </div>
            <div class="flex flex-col">
              <p class="text-gray-900 text-md font-semibold">Pages</p>
              <p class="text-gray-500 text-md font-semibold">
                {{ book()!.pages }}
              </p>
            </div>
          </div>
          <div class="flex flex-row gap-6 p-2">
            <span class="text-zinc-900 text-lg font-extrabold">Numero de paginas: {{ book()!.detail.numberPages }}</span>
            <span
            class="text-zinc-900 text-lg font-extrabold"
              >Numero de capítulos: {{ book()!.detail.numberChapters }}
            </span>
            <span class="text-zinc-900 text-lg font-extrabold">Dimensiones: {{ book()!.detail.dimensiones }}</span>
            <span class="text-zinc-900 text-lg font-extrabold">Peso: {{ book()!.detail.peso }} </span>
          </div>
        </div>
      </div>
    </article>
  </div>
</section>
}@else {
<p>Cargando información...</p>
}
