<div class="card">
  @defer {
    <div class="flex-column-book-store p-5">
      <div class="search-container">
        <input class="search-input search-icon" placeholder="Buscar libros" />
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
    </div>
    <div class="grid-book-store">
      @for (book of bookStore.listBooks(); track $index) {
        <article class="card gradient-white-diagonal">
          <img [srcset]="book.getPhoto()" [alt]="book.getTitle()" />
          <aside class="flex-column-book-store">
            <h1 class="text-lg">{{ book.getTitle() }}</h1>
            @for (author of book.getAuthors(); track $index) {
              <span class="text-gray-70 text-lg">{{ author.getName() }}</span>
            }
            <a
              [routerLink]="['/bookshop/book', book.getUuid()]"
              routerLinkActive="router-link-active"
              class="text-blue text-lg font-bold"
              >Explore</a
            >
          </aside>
        </article>
      }
    </div>
  } @placeholder (minimum 500ms) {
    <span>Cargando información...</span>
  }
</div>
