@if(bookCategory()){
<section>
  <img
  [srcset]="categoric()!.photo"
  class="w-full h-96 object-cover p-4 rounded-3xl"
  />

  <h3 class="text-3xl text-zinc-700 font-extrabold text-center p-2">Lista de libros: {{ categoric()!.name }}</h3>

  <div class="grid-books p-4">
    @for(list of bookCategory(); track $index){
    <app-card
      [bookId]="list.bookId"
      [title]="list.title"
      [author]="list.authors"
      [imgUrl]="list.imgUrl"
    />
    }
  </div>
</section>
}@else{
<p>Cargando información...</p>
}
