<header class="nav-header">
    <nav class="flex-between">
            <h3 class="gradient-text pastel-diagonal">BookShop</h3>
            <ul class="list-item">
                <li>
                    <a routerLink="/">Books</a>
                </li>
                <li>
                    <a routerLink="/genre">Genre's</a>
                </li>
                <li>
                    <a routerLink="/authors">Authors</a>
                </li>
                <li>
                    <a routerLink="/events">Events</a>
                </li>
                <li>
                    <a routerLink="/club">Club</a>
                </li>
            </ul>
    </nav>
</header>