<header class="bg-white">
  <nav class="flex justify-between items-center w-[92%] mx-auto">
    <div>
      <h1 class="w-32 font-bold text-3xl">Librería Nacional</h1>
    </div>
    <div
      class="md:static absolute bg-white md:min-h-fit min-h-[6ch] left-0 top-[-100%] md:w-auto w-full"
    >
      <ul class="flex md:flex-row flex-col md:items-center md:gap-[4vw] gap-8">
        <li>
          <a routerLink="[/]" class="hover:text-gray-500">Home</a>
        </li>
        <li>
          <a [routerLink]="['books']" class="hover:text-gray-500">Libros</a>
        </li>
        <li>
          <a [routerLink]="['catalogo']" class="hover:text-gray-500">Géneros</a>
        </li>
        <li>
          <a [routerLink]="['author']" class="hover:text-gray-500">Autores</a>
        </li>
      </ul>
    </div>
    <!--<div class="flex items-center gap-6">
      <button class="bg-[#a6c1ee] text-white px-5 py-5 rounded-full hover:bg-[#87acec] w-10">Iniciar Sesión</button>

      <i
        class="fa-solid fa-bars text-3xl text-black cursor-pointer md:hidden"
      ></i>
    </div>-->
  </nav>
</header>
